[submodule "codewars-openapi"]
	path = codewars-openapi
	url = https://github.com/noid-dev/codewars-openapi
	branch = gh-pages
[submodule "glassdoor-openapi"]
	path = glassdoor-openapi
	url = https://github.com/noid-dev/glassdoor-openapi
	branch = gh-pages
